name: Hash functions
on: workflow_dispatch
jobs:
  hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: echo "${HASH}"
        env:
          HASH: ${{ hashFiles('.github/workflows/*.yml') }} # ハッシュ値の生成
